.wrapper {
  font-family: Roboto, Helvetica Neue, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  // https://www.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_17601164.htm#page=1&query=light%20grey%20texture%20background&position=2&from_view=keyword
  background-image: url("https://www.solidbackgrounds.com/images/950x350/950x350-light-gray-solid-color-background.jpg");

  .information-header {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 715px) {
      width: 98vw;
    }

    &__top {
      // background-color: rgba(110, 231, 183, 1);

      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-image: url("https://c4.wallpaperflare.com/wallpaper/578/161/258/windows-vista-aero-10-wallpaper-preview.jpg");
      flex: 3;
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      .content {
        margin: 40px 30px 0 30px;
        position: relative;
        display: flex;

        @media (max-width: 715px) {
          flex-direction: column;
        }
        .image-wrapper {
          position: absolute;
          top: 30px;
          background: white;
          padding: 3px 3px 0px 3px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          border-radius: 4px;
          @media (max-width: 715px) {
            position: inherit;
            display: flex;
            justify-content: center;
            width: fit-content;
            align-self: center;
            img {
              width: 300px;
              height: 250px;
            }
          }
        }

        .generic-info {
          flex: 1;
          align-items: center;
          display: flex;
          margin-top: 40px;
          color: #e5e4e2;
          flex-direction: column;
          margin-left: 100px;

          @media (max-width: 715px) {
            margin-left: 0;
            white-space: nowrap;
          }

          &__name {
            font-size: 36px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 1;
          }

          &__social {
            display: flex;
            width: 130px;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;

            @media (max-width: 715px) {
              margin: 10px 0;
            }

            .icon-wrapper {
              background-color: #e5e4e2;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              filter: drop-shadow(0 0 20px #1b5e20);
              cursor: pointer;

              a {
                line-height: 0;
              }
            }
          }
        }
      }
    }
    &__bottom {
      background-color: rgba(249, 250, 251, 1);
      flex: 4;
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
      padding: 70px 40px 0 40px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 715px) {
        flex-direction: column;
      }

      .about {
        font-weight: bold;
        color: #454545;
        &--me {
          color: #2e8b57;
        }
        flex: 1;
        font-size: 18px;

        &__info {
          font-weight: normal;
          font-size: 15px;
          color: #848482;
          max-width: 300px;
          margin-top: 20px;

          @media (max-width: 715px) {
            max-width: initial;
          }
        }

        &__resume {
          display: flex;
          max-width: 300px;
          margin-top: 20px;
          @media (max-width: 715px) {
            max-width: initial;
          }
          a {
            margin: 8px 8px 8px 0;
            display: flex;
            text-decoration: none;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 36px;
            border: 1px solid gray;
            outline: none;
            color: #848482;
            background-color: #fff;
            font-size: 14px;
            font-weight: bold;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            cursor: pointer;
          }
        }
      }

      .vertical-sep {
        height: 70%;
        width: 1px;
        margin-top: 15px;
        background-color: rgba(#848482, 0.5);
        @media (max-width: 715px) {
          height: 1px;
          width: 100%;
        }
      }
      .personal-info {
        flex: 1;
        display: flex;
        margin: 40px 10px 10px 30px;
        flex-direction: column;

        .info {
          margin-bottom: 15px;
          display: flex;
          font-size: 14px;

          .key {
            font-weight: bold;
            color: #848482;
            width: 100px;
            flex: 1;
            min-width: 75px;
          }
          .value {
            margin-left: 20px;
            flex: 4;
            a {
              color: #2e8b57;
              text-decoration: none;
              font-weight: bold;
               :visited{
                color: #2e8b57;
               }
            }
          }
        }
      }
    }
  }
}
